.project-container {
  padding: 30px;
  max-width: 1000px;
  margin: auto;
}

.project-heading {
  text-align: center;
  margin-bottom: 30px;
}

.project-form {
  margin-bottom: 50px;
}

.project-entry {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  gap: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.project-image {
  flex: 0 0 250px;
}

.project-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
}

.project-text {
  flex: 1;
}

.project-actions {
  margin-top: 10px;
}
